* { margin: 0; padding: 0; }

body {
	background-color: #222;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
    background-repeat: repeat;
    overflow: hidden;
    position: relative;
}

.meny {
	display: none;
	padding: 20px;
    color: #F3F0D1;
    overflow: hidden;
    background-color: rgba(106, 194, 98, 1);
    font-family: Helvetica;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none; 
}

.meny b {
	margin: 0 5px 0;
	padding: 5px;
	color: #fff;
	cursor: default;
	background: #7e7e7e;
	border-radius: 5px;
	border: 2px solid #e1e1e1;
	-webkit-box-shadow: 0 1px 2px #777;
	-moz-box-shadow: 0 2px 1px #777;
	box-shadow: 0 2px 1px #777;
	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none; 
}

.meny a {
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: border-color 0.2s, background 0.1s;
	-moz-transition: border-color 0.2s, background 0.1s;
	-ms-transition: border-color 0.2s, background 0.1s;
	-o-transition: border-color 0.2s, background 0.1s;
	transition: border-color 0.2s, background 0.1s;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background: #95be0a;
    border-radius: 5px;
    border: 3px solid #e1e1e1;
    padding: 0 5px 0;
    color: #fff;
    vertical-align: top;
    margin: 0 5px 0;
    -webkit-box-shadow: 0 1px 2px #777;
	-moz-box-shadow: 0 2px 1px #777;
	box-shadow: 0 2px 1px #777;
	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none; 
}

.meny a.smalllink {
	margin: 0 5px 0;
	padding: 0;
	background-color: transparent;
	height: auto;
	width: auto;
	border: none;
	line-height: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}


.meny a.dev {
	background: #CD2209;
}

.meny a:hover {
	border-color: #d5d5d5;
}

.meny a:active {
	background: #7e7e7e;
}

.meny textarea {
	border: 3px solid #cccccc;
	padding: 5px;
	border-radius: 5px;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	resize: none;
	margin: 5px 5px 0;
	-webkit-box-shadow: 0 1px 2px #777;
	-moz-box-shadow: 0 2px 1px #777;
	box-shadow: 0 2px 1px #777;
}

.meny ul {
	margin-left: 25px;
	margin-top: 15px;
	cursor: default;
	display: inline;
}

.meny ul li {
	display: inline-block;
	width: 150px;
	list-style: none;
	font-weight: 700;
	padding: 3px 5px;
}


#containerwtom, #containermtof, #containerftow {
	width: 380px;
	border-radius: 5px;
	position: absolute;

	-webkit-box-shadow: 0 1px 2px #000;
	-moz-box-shadow: 0 2px 1px #000;
	box-shadow: 0 2px 1px #000;

	text-align: justify;
	padding: 5px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

#containerwtom {
	background: url('images/weedbg.jpg') no-repeat;
	background-color: #222;
	top: 115px;
	left: 50%;
	margin-left: 180px;
}

#containerftow {
	background: url('images/fertilizerbg.jpg') no-repeat;
	background-color: #222;
	top: 115px;
	left: 50%;
	margin-left: -570px;
}

#containermtof {
	background: url('images/moneybg.jpg') no-repeat;
	background-color: #222;
	position: relative;
	margin: 610px auto 0;
}

#list {
	background: url(images/pattern.png);
	border-radius: 5px;
	text-align: left;
	height: 140px;
	overflow-x: hidden;
	/*overflow-y: scroll; Not yet required */
	text-align: justify;

	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

#containerwtom.expanded #list, #containerftow.expanded #list, #containermtof.expanded #list {
	margin: 30px 0 0 0;
	height: 380px;
 }

#containerwtom.expanded, #containerftow.expanded, #containermtof.expanded {
	background-position: 0 -120px;
	top: 85px;
}

#contentsblur.activated {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);

	pointer-events: none;
}

#bluroverlay {
	position: absolute;
	z-index: 102;
	top: 210px;
	left: 50%;
	width: 500px; 
	height: 450px;
	margin-left: -265px;
	font-family: "Open Sans Condensed";

	padding: 15px;
	border-radius: 15px;
	background-color: rgba(255,255,255,0.95);
	-webkit-box-shadow: 0 3px 2px #010101;
	-moz-box-shadow: 0 3px 2px #010101;
	box-shadow: 0 3px 2px #010101;
	text-align: center;
	padding-top: 50px;

	display: none;
}

#blurunderlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
	display: none;
	background-color: rgba(0,0,0,0.5);
}

#bluroverlay h1 {
	text-align: center;
	position: absolute;
	font-weight: 400;
	font-size: 35px;
	top: 3px;
	width: 100%;
	left: 0px;
	right: 0px;
	color: #111;
	cursor: default;
}

#bluroverlay .achievementbox {
	display: inline-block;
	width: 80px;
	height: 80px;
	background-color: #999;
	border-bottom: 2px solid #222;
	margin: 12px;
	border-radius: 2px;
}

#bluroverlay .achievementbox img {
	width: 60px;
	height: 60px;
	margin: 10px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

#bluroverlay .achievementbox.earned {
	border-color: #539753;
  	background-color: rgba(106, 194, 98, 1);
}

#bluroverlay .achievementbox.earned img {
	-webkit-filter: brightness(3);
	-moz-filter: brightness(3);
	filter: brightness(3);
}

#list span {
	font-family: "Open Sans Condensed";
	text-shadow: 0 2px 2px black;
	color: rgba(240,240,240,1);
	background-color: rgba(25,25,25,0.3);
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	text-align: justify;
	display: block;
	padding: 3px;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}

#list span:first-letter {
	font-size: 22px;
}

#list span:hover{
	color: #fff;
	background-color: rgba(20,20,20,0.6) ; /* to override jquery's cover */
}

#list span:active {
	background-color: rgba(20,20,20,0.8) !important; /* to override jquery's cover */
}

/* BASIC RESOURCE BUTTON */
#fertilizer, #weed, #money { 
	position: absolute;
	background-color: #275752;
	font-size: 60px;
	font-family: "Chau Philomene One";
	color: #F3F0D1;
	border-radius: 70px;
	border: 5px solid transparent;
	border-bottom-color: rgba(0,0,0,0.35);
	text-shadow: 0px 3px 0px #b2a98f,
             0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

    -webkit-box-shadow: 0 3px 2px #010101;
	-moz-box-shadow: 0 3px 2px #010101;
	box-shadow: 0 3px 2px #010101;

	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	height: 250px;
	width: 250px;
	line-height: 250px;
	text-align: center;

	-webkit-transition: background 0.4s, border 0.1s, margin 0.1s;
	-moz-transition: background 0.4s, border 0.1s, margin 0.1s;
	-ms-transition: background 0.4s, border 0.1s, margin 0.1s;
	-o-transition: background 0.4s, border 0.1s, margin 0.1s;
	transition: background 0.4s, border 0.1s, margin 0.1s;
}

/* EACH BUTTON POSITION */
#weed {
	top: 260px;
	left: 50%;
	margin-left: -130px;
}

#money {
	top: 400px;
	left: 50%;
	margin-left: 155px;
}

#fertilizer {
	top: 400px;
	left: 50%;
	margin-left: -415px;
}

#weedspan, #moneyspan, #fertilizerspan {
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    z-index: 100;
}

/* EACH RESOURCE BUTTON IF DECLINING */
#weedspan.decline, #moneyspan.decline, #fertilizerspan.decline {
	color: rgba(255, 239, 189, 1);
	text-shadow: 0px 3px 0px #963232, 0px 4px 10px rgba(0,0,0,0.15), 0px 14px 2px rgba(0,0,0,0.1), 0px 24px 30px rgba(0,0,0,0.1);
}

/* RESOURCE BUTTON PRESSDOWN ANIMATION */
#weed:active, #money:active, #fertilizer:active {
	border-bottom-width: 0;
	margin-top: 5px;
}

#adcontainer {
	width: 320px;
	height: 100px;
	position: absolute;
	top: 140px;
	left: 50%;
	margin-left: -160px;
}

/* OPTIONS BAR */
#optionsbar {
	z-index:10;
  	background-color: #333;
    -moz-border-radius: 30px;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -57px;
    width: 115px;
    height:60px;
    top: 70px;
    text-align:center;
    -webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

#optionsbar .optionsbarbox {
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 5px 2px 5px 2px;
	margin: 0 -2px 0 -2px;
	cursor: pointer;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

#optionsbar .optionsbarbox:first-child {
	padding: 5px 2px 5px 5px;
	margin-left: -5px;
}

#optionsbar .optionsbarbox:last-child {
	padding: 5px 5px 5px 2px;
	margin-right: -5px;
}

#optionsbar .optionsbarbox:hover {
	background-color: rgba(255,255,255,0.5);
}

#optionsbar .optionsbarbox img {
	height: 50px;
	width: 50px;
}

/* BASIC PER SECOND INDICATOR */
.wps, .mps, .fps {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background 0.4s, border 0.2s, margin 0.2s;
	-moz-transition: background 0.4s, border 0.2s, margin 0.2s;
	-ms-transition: background 0.4s, border 0.2s, margin 0.2s;
	-o-transition: background 0.4s, border 0.2s, margin 0.2s;
	transition: background 0.4s, border 0.2s, margin 0.2s;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.9);
	text-align: center;
	left: 50%;
	width: 260px;
	margin-left: -130px;
	top: 45px;
	font-family: "Open Sans Condensed";
	font-weight: 700;
	color: #F3F3F3;
	font-size: 20px;
	z-index: 1;
	cursor: pointer;
	position: absolute;
	pointer-events:none; /* Make it click-through-able */
}

.mps:after {content: " $/s"}
.wps:after {content: " g/s"}
.fps:after {content: " u/s"}

/* BASIC HOVER LAYER FROM RESOURCE BUTTON */
#fertilizer:after, #weed:after, #money:after {
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
	content: "";
	background-color: rgba(255,255,255,0);
	position: absolute;
	width: 100%;
	height: 100%;
	top: -5px;
	left: -5px;
	z-index: 0;
	padding: 5px 5px 0;
	border-radius: 70px;
}

/* HOVER LAYER FROM RESOURCE BUTTON */
#fertilizer:hover:after, #weed:hover:after, #money:hover:after {
	background-color: rgba(255,255,255,0.15);
}

/* ALERT LAYER FROM RESOURCE BUTTON */
#fertilizer.alert:after, #weed.alert:after, #money.alert:after {
	background-color: rgba(255,80,80,0.35);
}

/* ACTIVE LAYER FROM RESOURCE BUTTON */
#fertilizer:active:after, #weed:active:after, #money:active:after, .wps:active ~ #weed:after, .mps:active ~ #money:after{
	background-color: rgba(255,255,255,0.25);
}

/* BUTTON PRESSDOWN APPLY TO PER SECOND INDICATOR */
 #weed:active ~ .wps, #money:active ~ .mps, #fertilizer:active ~ .fps {
	border-bottom-width: 0;
	margin-top: 5px;
}

/* RESOURCE BUTTON BACKGROUNDS */
#weed { background: url(images/weed.jpg) top center; background-position: -5px -5px; }
#money { background: url(images/money.jpg) top center; background-position: -5px -5px;}
#fertilizer { background: url(images/fertilizer.jpg) top center; background-position: -5px -5px;}

/* BASIC ARROW */
.arrow {
	position: absolute;
	font-family: "Open Sans Condensed";
	font-weight: 700;
	width: 200px;
	height: 30px;
	background-color: #666;

	cursor: pointer;
	
	color: #fff;
	border-radius: 15px;
	-webkit-box-shadow: 0 2px 2px #010101;
	-moz-box-shadow: 0 2px 2px #010101;
	box-shadow: 0 2px 2px #010101;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	text-shadow: 0 2px 2px black;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* ARROW BACKGROUND ANIMATION */
@-webkit-keyframes mov {
    0% { background-position: 200px 0; }
    100% { background-position: 0px 0; }
}
@-moz-keyframes mov {
    0% { background-position: 200px 0; }
    100% { background-position: 0px 0; }
}
@keyframes mov {
    0% { background-position: 200px 0; }
    100% { background-position: 0px 0; }
}

@-webkit-keyframes mov2 {
    0% { background-position: 0px 0; }
    100% { background-position: 200px 0; }
}
@-moz-keyframes mov2 {
    0% { background-position: 0px 0; }
    100% { background-position: 200px 0; }
}
@keyframes mov2 {
    0% { background-position: 0px 0; }
    100% { background-position: 200px 0; }
}


/* EACH ARROW POSITION, ANIMATION, TEXT, BACKGROUND */
.arrow.mtof {
	top: 570px;
	left: 50%;
	margin-left: -115px;
	width: 230px;
	background: url(images/moneyarrow.jpg) repeat;
}
.arrow.mtof:after { content: " $/s"; font-size: 14px; }

.arrow.ftow {
	top: 320px;
	left: 50%;
	margin-left: -320px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
	width: 160px;
	background: url(images/fertilizerarrow.jpg) repeat;
}
.arrow.ftow:after { content: " u/s"; font-size: 14px; }

.arrow.wtom {
	top: 320px;
	left: 50%;
	margin-left: 160px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	transform: rotate(20deg);
	width: 160px;
	background: url(images/weedarrow.jpg) repeat;
}
.arrow.wtom:after { content: " g/s"; font-size: 14px; }

/* ARROW ANIMATION CLASSES */
.flowslow { -webkit-animation: mov2 6s linear infinite; -moz-animation: mov2 6s linear infinite; animation: mov2 6s linear infinite; }
.flowmed { -webkit-animation: mov2 4s linear infinite; -moz-animation: mov2 4s linear infinite; animation: mov2 4s linear infinite; }
.flowfast { -webkit-animation: mov2 2s linear infinite; -moz-animation: mov2 2s linear infinite; animation: mov2 2s linear infinite; }

.flowislow { -webkit-animation: mov 6s linear infinite; -moz-animation: mov 6s linear infinite; animation: mov 6s linear infinite; }
.flowimed { -webkit-animation: mov 4s linear infinite; -moz-animation: mov 4s linear infinite; animation: mov 4s linear infinite; }
.flowifast { -webkit-animation: mov 2s linear infinite; -moz-animation: mov 2s linear infinite; animation: mov 2s linear infinite; }

.flownone { -webkit-animation-play-state: paused; -moz-animation-play-state: paused; animation-play-state: paused; }

/* PULSE ANIMATION CLASSES */
.pulsefast { -webkit-animation: pulse 0.3s infinite alternate; -moz-animation: pulse 0.3s infinite alternate; animation: pulse 0.3s infinite alternate; }
.pulsemed { -webkit-animation: pulse 0.5s infinite alternate; -moz-animation: pulse 0.5s infinite alternate; animation: pulse 0.5s infinite alternate; }
.pulseslow { -webkit-animation: pulse 1s infinite alternate; -moz-animation: pulse 1s infinite alternate; animation: pulse 1s infinite alternate; }

.pulsenone { -webkit-animation-play-state: paused; -moz-animation-play-state: paused; animation-play-state: paused; }

/* PULSE ANIMATION */
@-webkit-keyframes pulse {
    0% {
    	-moz-transform: scale(0.98);
    	-ms-transform: scale(0.98);
    	-o-transform: scale(0.98);
    	-webkit-transform: scale(0.98);
    	transform: scale(0.98);
    } 
    100% {
    	-moz-transform: scale(1.02);
    	-ms-transform: scale(1.02);
    	-o-transform: scale(1.02);
    	-webkit-transform: scale(1.02);
    	transform: scale(1.02)
    }
}
@-moz-keyframes pulse {
    0% {
    	-moz-transform: scale(0.98);
    	-ms-transform: scale(0.98);
    	-o-transform: scale(0.98);
    	-webkit-transform: scale(0.98);
    	transform: scale(0.98);
    } 
    100% {
    	-moz-transform: scale(1.02);
    	-ms-transform: scale(1.02);
    	-o-transform: scale(1.02);
    	-webkit-transform: scale(1.02);
    	transform: scale(1.02)
    }
}
@keyframes pulse {
    0% {
    	-moz-transform: scale(0.98);
    	-ms-transform: scale(0.98);
    	-o-transform: scale(0.98);
    	-webkit-transform: scale(0.98);
    	transform: scale(0.98);
    } 
    100% {
    	-moz-transform: scale(1.02);
    	-ms-transform: scale(1.02);
    	-o-transform: scale(1.02);
    	-webkit-transform: scale(1.02);
    	transform: scale(1.02)
    }
}




#title {
	margin: 0 auto;
	font-size: 150px;
	text-align: center;
	font-family: "Ceviche One";
	font-weight: 300;
	color: #F8F6DC;
	cursor: default;
	position: relative;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

	text-shadow:
			 0px 3px 0px #b2a98f,
             0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

    -webkit-text-stroke: 1px rgba(255,255,255,0.7);
    font-smooth:always;
	-webkit-font-smoothing: antialiased;
}

#title.sizedown {
	margin: 0 auto;
	font-size: 50px;
	z-index: 100;
	background-color: rgba(106, 194, 98, 1);
	-webkit-box-shadow: 0 10px 6px -6px #000;
	-moz-box-shadow: 0 10px 6px -6px #000;
	box-shadow: 0 10px 6px -6px #000;
}

.dealer:after, .trailer:after, .greenhouse:after, .export1:after, .enchantcursor1:after{
	font-size: 22px;
	font-weight: 400;
	margin-left: 50px;
}

/* INTRO */
#intro { 
	position: absolute;
	top: 300px;
	left: 50%;
	width: 700px;
	margin-left: -350px;
	text-align: center;
	font-family: "Open Sans Condensed";
	font-weight: 300;
	color: #F3F3F3;
	font-size: 46px;
	/*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);*/
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none; 
}

#intro.side {
	margin-left: -900px;
}

#intro #introbutton {
	cursor: pointer;
	font-family: "Open Sans Condensed";
	font-weight: 300;
	color: #F3F3F3;
	font-size: 62px;
	padding: 20px 90px 20px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 15px;
	text-decoration: none;
	display: none;
}

#skipintro { display: none; }

#intro.tiny { 
		width: 700px;
		margin-left: -350px;
		font-size: 36px;
		top: 200px;
}

#intro #introbutton:hover {
	color: #333;
	background-color: rgba(255,255,255,0.7);
}

/* ACHIEVEMENT MESSAGE */

.achievement {
	z-index:40;
    font-family: "Open Sans Condensed";
	color: #F3F0D1;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    line-height: 60px;
	border-left: 4px solid #539753;
  	background-color: rgba(106, 194, 98, 1);

    -moz-border-radius: 4px;
    border-radius: 4px;

    overflow: hidden;
    font-size: 30px;
    padding:5px;
    cursor:pointer;
    position: absolute;
    left: 50%;
    margin-left: -122px;

    width:220px;
    height:60px;
    top: 62px;
    text-align:center;

    -webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;

	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none; 
}

.achievement img {
	width:50px;
	height:50px;
	position: absolute;
	top: 10px;
	left: 10px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;

	-webkit-filter: brightness(3);
	-moz-filter: brightness(3);
	filter: brightness(3);
}

.achievement span {
	text-align: left;
	left: 70px;
	position: absolute;
	padding: 2px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.achievement.hidden {
	top: -30px;
	opacity: 0;
}

.achievement.hidden img {
	left: -50px;
	opacity: 0;
	
}

.achievement.hidden span {
	opacity: 0;
	left: 120px;
}


/* ALERT MESSAGE */
#alertMessage, #alertMessage2, #alertMessage3, #alertMessage4 {
	z-index:20;
    font-family: "Open Sans Condensed";
	color: #F3F0D1;
	background-color: rgba(106, 194, 98, 1);
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
    padding:5px;
    cursor:default;
    position: fixed;
    left: 50%;
    margin-left: -100px;
    width:190px;
    height:40px;
    line-height: 60px;
    top:35px;
    text-align:center;

    display:none;

    -webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none; 
}

#alertMessage2, #alertMessage4 {
	background-color: #CD2209;
}

/* KUSHIFY-SWITCH */
.kushify-switch {
  position: relative;
  width: 120px;
  height: 40px;
  display: inline-block;
  background: #e1e1e1;
  border-radius: 5px;
  border: 3px solid #e1e1e1;
  padding: 0;
  margin: 0 5px 0;
  -webkit-box-shadow: 0 1px 2px #777;
  -moz-box-shadow: 0 2px 1px #777;
  box-shadow: 0 2px 1px #777;
}
.kushify-switch:hover {
  border-color: #d5d5d5;
}
.kushify-switch input.input-switch {
  position: absolute;
  opacity: 0;
  z-index: -10;
}
.kushify-switch span.switch-bg {
  position: absolute;
  z-index: 0;
  width: 50%;
  height: inherit;
  left: 50%;
  background: #7e7e7e;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 5px;
}
.kushify-switch span.switch-labels {
  position: absolute;
  z-index: 1;
  width: inherit;
  height: inherit;
}
.kushify-switch span.switch-labels:before, .kushify-switch span.switch-labels:after {
  height: 40px;
  width: 50%;
  line-height: 40px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  text-align: center;
}
.kushify-switch span.switch-labels:before {
  content: attr(data-on);
  left: 0;
  position: absolute;
  color: #b7b7b7;
}
.kushify-switch span.switch-labels:after {
  content: attr(data-off);
  position: absolute;
  right: 0;
  color: #fff;
}
.kushify-switch label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.input-switch:checked ~ .switch-bg {
  left: 0%;
  background: #95be0a;
}

.input-switch:checked ~ .switch-labels:before {
  color: #fff;
}

.input-switch:checked ~ .switch-labels:after {
  color: #b7b7b7;
}

/* TOOLTIPSTER */
.tooltipster-content span {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-size: 16px;
	line-height: 14px;
	/*color: #eee;*/
}

.tooltipster-content span span:first-child {
	font-size: 14px;
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-weight: 700;
	color: #77DE47;
	font-style: normal;
	text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}

.tooltipster-content span span:last-child {
	font-size: 14px;
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-weight: 700;
	color: #DE080A;
	/*color: #FF3338;*/
	font-style: normal;
	text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}
.tooltipster-light {
	border-radius: 5px; 
	border: 1px solid #cccccc;
	background: #ededed;
	color: #666666;
}
.tooltipster-light .tooltipster-content {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

*.intro { display: none; }

#weed.coffeemod {
    background: url('images/coffee.jpg');
    background-size: 260px 260px;
    background-position: -5px -5px; 
}

.wtom.coffeemod {
	background: url('images/coffeearrow.jpg') repeat;
}

#containerwtom.coffeemod {
	background: url('images/coffeebg.jpg') no-repeat;
	background-color: #222;
}

#containerwtom.coffeemod.expanded {
	background-position: 0 -120px;
}


@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    #weed.coffeemod {
    	background: url('images/CoffeeRetina.jpg');
    	background-size: 260px 260px;
    	background-position: -5px -5px; 
    }

    .arrow.wtom.coffeemod {
		background: url('images/coffeearrowRetina.jpg') repeat;
		background-size: 200px 30px;
	}

	#containerwtom.coffeemod {
		background: url('images/coffeebgRetina.jpg') no-repeat;
		background-color: #222;
		background-size: 390px 150px
	}

	#containerwtom.coffeemod.expanded {
		background-position: 0 -240px;
	}

	#money {
		background: url('images/moneyRetina.jpg');
		background-size: 260px 260px;
		background-position: -5px -5px;
	}

	.arrow.mtof {
		background: url('images/moneyarrowRetina.jpg') repeat;
		background-size: 200px 30px;
	}

	#containermtof {
		background: url('images/moneybgRetina.jpg');
		background-size: 390px 150px;
	}
}

@media (max-width: 1750px) {
	#intro.side {
		margin-left: -600px;
	}

	#intro { 
		width: 700px;
		margin-left: -350px;
		font-size: 36px;
		top: 200px;
	}

	#title {
		font-size: 130px;
	}

}
